
header {
  width: 100%;
  height: 100px;
  background-color: black;
}
.top {
  font-size: 40px;
}

.backtotop {
  position:fixed;
  text-decoration: none;
  background-color: black;
  color: white;
  font-size: 20px;
  margin-left: 85%;
  margin-top: 40%;
  padding: 5px;
}
body {
  font-family: Helvetica, sans-serif;
  padding: 30px;
 }
h2 {
  padding-top: 7px;
  font-size: 25px;
}
a{

  text-align: center;
  text-decoration: none;
}
header, nav{
  padding-top: 5px;
  text-align: center;
}
.nav ul {
  list-style: none;
  background-color: black;
  text-align: center;
  padding: 3px;
  margin: 0;
}
.nav li {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: red;
}

.nav a.active {

}

.grades {
  display: inline-block;
  padding: 10px;
  text-align:center;
  font-size:30px;
  margin: 0 auto;
  padding-top: 10px;
}

/*
Responsiveness for when the browser size goes below 600px (mobile)
*/
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
h1 {
   text-align: center;
   padding-top: 5px;
   color: white;
 }

img{
  display: block;
  margin: 0 auto;
}
}
